<%= form_for @heroine do |f| %>
    <%= f.label 'Name: '%><br>
    <%= f.text_field :name %><br>
    <%= f.label 'Super Name: '%>
    <%= f.text_field :super_name %><br>
    <p>
    <%= f.label 'Powers: '%> <br>
    <% Power.all.each do |power| %>
        <%= check_box_tag "heroine[power_ids][]",power.id %> <%= power.name %> <br>
    <% end %>
    </p>
    
    <%= f.submit %>
<% end %>

                

